.header{
    width: 100%;
    height: 10vh;

    background-color: #3F4D36;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-logo img{
    height: 8vh;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.header-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px #000);
}

.header-paginas ul{
    display: flex;
    flex-direction: row;

    gap: 40px;
}

/* Estilizando o link <a> para a nova estrutura semântica */
.header-paginas a{
    display: block; 
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    color: #f2f2f2;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.header-paginas a:hover{
    background-color: #f2f2f2;
    color: #ca7690;
    filter: drop-shadow(0 0 5px #f2f2f2);
    font-weight: bold;
}

.header-pesquisa{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-pesquisa input{
    max-width: 200px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}

.header-usuario{
    display: flex;
    gap: 20px;
}

.search-icon img{
    height: 40px;
    width: 40px;
    transition: 0.5s ease;
    cursor: pointer;
}

.search-icon:hover{
    filter: drop-shadow(0 0 5px #000);
}