.main-content{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-content h1{
    font-family: 'Vonca', sans-serif;
    font-size: 60px;
}

.section-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.inicio-apresentacao{
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.title h1{
    font-family: 'Vonca', sans-serif;
    font-size: 140px;
}

.title p{
    color: #ad9a58;
    font-size: 40px;
}

.image-visual img{
    height: 70vh;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.section-destaques{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrossel-anuncio {
    width: 75vw;
    height: 80vh;

    overflow: hidden; 

    position: relative;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.carrossel-anuncio input {
    display: none;
}

.fotos {
    /* 3 imagens 100% = 300% */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    /* serve para centralizar a navegação */
    transform: translateX(-50%);
    display: flex;
}

.slide {
    width: 33.333%;
    height: 100%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
}

.bar {
    width: 40px;
    height: 8px;
    border: 2px solid #f4f4f4;
    margin: 6px;
    cursor: pointer;
    background: #FFF1F4;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.bar:hover {
    background: #3F4D36;
}

#foto1:checked ~ .fotos {
    margin-left: 0; 
}
/*  move a imagem 1 100% para a esquerda (mostrando a 2ª imagem) */
#foto2:checked ~ .fotos {
    margin-left: -100%;
}
/* move a imagem 2 200% para a esquerda (mostrando a 3ª imagem) */
#foto3:checked ~ .fotos {
    margin-left: -200%;
}
/* efeito de destaque da navegação */
#foto1:checked ~ .navigation .bar:nth-child(1),
#foto2:checked ~ .navigation .bar:nth-child(2),
#foto3:checked ~ .navigation .bar:nth-child(3) {
    background: #3F4D36;
}