.section-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.inicio-apresentacao{
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.title h1{
    font-size: 100px;
}

.title p{
    font-size: 40px;
}

.image-visual img{
    height: 80vh;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.section-inicio__galeria{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* 1. ESTILO DO CONTAINER PRINCIPAL */
.carrossel {
    /* Define o tamanho visível do carrossel (a "janela") */
    width: 80vw;
    height: 80vh;
    
    /* ESCONDE AS IMAGENS QUE ESTÃO FORA DA VISTA */
    overflow: hidden; 
    
    /* Posição relativa para posicionar os elementos de navegação */
    position: relative;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

/* 2. ESTILO DOS INPUTS (Escondidos) */
.carrossel input {
    display: none; /* Esconde os botões de rádio originais */
}

/* 3. ESTILO DO CONTAINER DA FILA DE IMAGENS */
.fotos {
    /* Calcula a largura total: 3 imagens * 100% da largura do carrossel */
    width: 300%; /* 3 imagens * 100% = 300% */
    height: 100%;
    display: flex; /* Coloca os slides lado a lado */
    transition: all 0.6s ease; /* Adiciona uma transição suave para o deslize */
}

/* 4. ESTILO DE CADA IMAGEM/SLIDE */
.slide {
    width: 33.333%; /* Cada slide ocupa 1/3 da largura total (300% / 3) */
    height: 100%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preenche o slide sem distorção */
}


/* 5. ESTILO DA NAVEGAÇÃO (As barras/pontinhos) */
.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza a navegação */
    display: flex;
}

.bar {
    width: 40px;
    height: 8px;
    border: 2px solid #f4f4f4;
    margin: 6px;
    cursor: pointer;
    background: #FFF1F4;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.bar:hover {
    background: #3F4D36;
}

#foto1:checked ~ .fotos {
    margin-left: 0; 
}
/*  move a fila 100% para a esquerda (mostrando a 2ª imagem) */
#foto2:checked ~ .fotos {
    margin-left: -100%;
}
/* move a fila 200% para a esquerda (mostrando a 3ª imagem) */
#foto3:checked ~ .fotos {
    margin-left: -200%;
}
/* Efeito de destaque na barra ativa */
#foto1:checked ~ .navigation .bar:nth-child(1),
#foto2:checked ~ .navigation .bar:nth-child(2),
#foto3:checked ~ .navigation .bar:nth-child(3) {
    background: #3F4D36;
}