.main-content{
    flex-direction: column;
    gap: 50px;
    padding: 0 50px;
    padding-top: 10vh;
    align-items: center;
}

.main-content h2{
    font-family: 'Vonca', sans-serif;
    font-size: 60px;
    text-align: center;
}

.section-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section-inicio__apresentação{
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.section-inicio__apresentação button{
    font-family: 'Vonca', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 40px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title h1{
    font-family: 'Vonca', sans-serif;
    font-size: 140px;
}

.title p{
    color: #ad9a58;
    font-size: 40px;
}

.image-visual img{
    height: 70vh;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.section-destaques{
    background-image: url('../assets/icons/png/estampa-amarela.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 20px;
}

.section-destaques__carrossel{
    width: 75vw;
    height: 80vh;

    overflow: hidden; 

    position: relative;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.section-destaques__carrossel input{
    display: none;
}

.fotos{
    /* 3 imagens 100% = 300% */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease;
}

.foto{
    width: 33.333%;
    height: 100%;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    /* serve para centralizar a navegação */
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 40px;
    height: 8px;
    border: 2px solid #f4f4f4;
    margin: 6px;
    cursor: pointer;
    background: #FFF1F4;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.bar:hover{
    background: #3F4D36;
}

#foto1:checked ~ .fotos{
    margin-left: 0; 
}
/*  move a imagem 1 100% para a esquerda (mostrando a 2ª imagem) */
#foto2:checked ~ .fotos{
    margin-left: -100%;
}
/* move a imagem 2 200% para a esquerda (mostrando a 3ª imagem) */
#foto3:checked ~ .fotos{
    margin-left: -200%;
}
/* efeito de destaque da navegação */
#foto1:checked ~ .navigation .bar:nth-child(1),
#foto2:checked ~ .navigation .bar:nth-child(2),
#foto3:checked ~ .navigation .bar:nth-child(3){
    background: #3F4D36;
}