*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    scroll-behavior: smooth;

    font-family: 'Satochi', sans-serif;
    color: #3F4D36;

    scrollbar-width: none;
}

@font-face {
    font-family: 'Vonca';
    src: url('../fonts/Vonca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}